.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.start-end {
  display: flex;
  justify-content: space-between;
}

.form-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.form-btn-group button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

.cancel-form {
  background-color: rgb(255, 42, 42);
  color: white;
  transition: all 0.3s;
}

.cancel-form:hover {
  background-color: rgb(255, 101, 101);
}

.save-form {
  background-color: rgb(37, 129, 30);
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}

.save-form:hover {
  background-color: rgb(66, 165, 59);
}
