.resume {
  position: relative;
}

.resume-container {
  width: 600px;
  height: 776px;
  background-color: white;
  padding: 24px 40px;
  -webkit-user-select: none;
  user-select: none;
}

.resume:hover .resume-container {
  filter: blur(5px) brightness(1.05);
}

.download {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.resume:hover .download {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.download:hover {
  color: rgb(92, 92, 92);
}

.download p {
  font-size: 24px;
}

.title-section p {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
}

.title-section {
  margin-bottom: 24px;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid black;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.res-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 8px;
  gap: 8px;
}

.res-item div {
  display: flex;
  justify-content: space-between;
}

.res-description {
  margin-top: 4px;
}

p {
  font-size: 14px;
}
